.unidade-seletor {
  background-color: #ce3c25;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  margin: 20px 0;
}

.unidade-seletor > span {
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
  margin: auto 5px;
}
.sem-unidade {
  text-align: center;
  margin-top: 60px;
}
.unidade {
  background-color: #ce3c25;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  margin: 20px 0;
}
.unidade-nome {
  font-size: 25px !important;
}
.unidade > span {
  font-size: 15px;
  font-weight: 900;
  color: #ffffff;
  margin: auto 5px;
}

.cardapio-nome {
  background-color: #ce3c25;
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 100%;
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
}

.cardapio-nome > p {
  margin: auto 5px;
}

.refeicoes {
  display: flex;
  flex-wrap: wrap;
}

.sem-refeicoes {
  text-align: center;
  margin: 50px 0;
}

.new-refeicao {
  background-color: #ce3c25;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  font-weight: 900;
  color: #ffffff;
  margin: 20px 0;
}

.new-refeicao > a {
  margin: auto;
}

.fila {
  background-color: #ce3c25;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  margin: 20px 0;
}

.fila > span {
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
  margin: auto 5px;
}

.new-refeicao > span {
  font-size: 25px;
  margin: auto;
}

.new-refeicao > button {
  width: 40%;
  margin: auto;
}
